#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

#main-header #title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#main-header #title img {
  width: 5rem;
  height: 5rem;
}

h1 {
  text-transform: uppercase;
}

.beers {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
