:root {
  --background-color: #f0f0f0;
  --text-color: black;
  --header-color: white;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #e0e0e0;
}

#main-header #title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#main-header #title img {
  width: 5rem;
  height: 5rem;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

.beers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 2rem;
  padding: 0 3rem;
}

.beer-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  flex: 1 0 calc(33.33% - 2rem);
  min-width: 200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.beer-item article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.beer-item img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

nav button {
  margin: 0 0.5rem;
}

header,
footer {
  width: 100%;
  background-color: white;
}

footer p {
  text-align: center;
}

.button {
  cursor: pointer;
  border: 1px solid red;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #333;
  border: 1px solid #333;
  transition: background-color 0.2 ease;
}

.text-only {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: large;
}

.text-only:hover,
.text-only:active {
  color: red;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-right: 20px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 24px;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-switch input:checked + .slider {
  background-color: #4caf50;
}

.toggle-switch input:checked + .slider::before {
  transform: translateX(26px);
}

.dark-mode {
  --background-color: black;
  --text-color: #eee;
}

.dark-header {
  background-color: var(--background-color);
}

.dark-header h1 {
  color: #fff;
}

.dark-footer,
.dark-footer p {
  background-color: var(--background-color);
  color: var(--text-color);
}

.dark-beers {
  background-color: var(--background-color);
}

.dark-button {
  color: white;
}
